<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body ng-app="app" class="ng-cloak">
    <div ng-controller="AppController as vm"> <!--game controller-->
      <div ng-controller="GameController as vm" ng-if="!vm.loading && vm.user"> <!--start game view-->
        game goes here....

        Welcome {{vm.user | json}}
        <button ng-click="vm.roll()">
          click test2
        </button>
        <div ng-if="vm.rolls.length" ng-repeat="roll in vm.rolls |  limitTo: 5  track by $index">
          {{roll}}
        </div>
      </div> <!--end game view-->

      <div ng-if="!vm.loading && vm.user === undefined"> <!--register controller-->
        Register with us!
        {{vm.user | json}}
      </div> <!--end register view-->

    </div> <!--end AppController-->

    <!--scripts-->
    <script src="vendor/socket.io.js"></script> <!--for socket.io-client-->
    <script src="vendor/angular.js"></script>
    <script src="js/app.module.js"></script>
    <!--controllers-->
    <script src="js/app.controller.js"></script>
    <script src="js/game.controller.js"></script>
    <!--services-->
    <script src="js/user.service.js"></script>
    <script src="js/roll.service.js"></script>
    <script src="js/socket.service.js"></script>
  </body>
</html>
